<% if(successMsg && successMsg.length) {%>
<div class="flash_message_div">
  <p><%= successMsg %></p>
</div>
<% } %>

<!------------------------------------------------------------------------------>

<% if(failureMsg && failureMsg.length) {%>
<div class="flash_message_div">
  <p><%= failureMsg %></p>
</div>
<% } %>
