<div class="footer">
  <a href=""><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
  <a href=""><i class="fa-brands fa-square-x-twitter"></i> Twitter</a>
  <a href=""><i class="fa-brands fa-github"></i> GitHub</a>
</div>
