<div class="navbar">
  <a href="/listings"><i class="fa-solid fa-arrows-spin"></i> Explore</a>
  <a href="/listings/new">Add new listing</a>

  <% if(!currentUser) { %>
  <a href="/signup">Sign Up</a>
  <a href="/login">Log In</a>
  <% } %>

  <!------------------------------------>
  <% if(currentUser) { %>
  <a href="/logout">Log Out</a>
  <% } %>
</div>
