<div class="navbar">
  <div class="navbar_div_one">
    <a href="/listings"><i class="fa-solid fa-arrows-spin"></i> Explore</a>
    <a href="/listings/new">Add new listing</a>
  </div>
  <div class="navbar_div_two">
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/logout">Log Out</a>
  </div>
</div>
