<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zoom-Inn</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/new.css" />
    <link rel="stylesheet" href="/css/edit.css" />
    <link rel="stylesheet" href="/css/show.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <!------------------------------ navbar ------------------------------>
    <%- include("../partials/navbar.ejs") %>

    <!------------------------------ body ------------------------------>
    <%- body %>

    <!------------------------------ navbar ------------------------------>
    <%- include("../partials/footer.ejs") %>

    <!------------------------------ font-awesome script ------------------------------>
    <script
      src="https://kit.fontawesome.com/f6dcd8ba33.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
