<% layout("layouts/boilerplate.ejs") %>

<div class="add_new_listing_main_div">
  <form action="/listings" method="post" novalidate class="needs-validation">
    <!---------------------- title -------------------------->
    <div class="listing_inputs">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        id="title"
        minlength="10"
        maxlength="50"
        name="listing[title]"
        class="form-control"
        placeholder="Enter title"
        autocomplete="off"
        required
      />
    </div>

    <!---------------------- description -------------------------->
    <div class="listing_inputs">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="listing[description]"
        class="form-control"
        id="description"
        minlength="50"
        cols="30"
        rows="5"
        placeholder="Enter description"
        autocomplete="off"
        required
      ></textarea>
    </div>

    <!---------------------- image -------------------------->
    <div class="listing_inputs">
      <label for="image" class="form-label">Image</label>
      <input
        type="text"
        placeholder="Enter image url/link"
        id="image"
        name="listing[image]"
        class="form-control"
        autocomplete="off"
      />
    </div>

    <!---------------------- price -------------------------->
    <div class="listing_inputs">
      <label for="price" class="form-label">Price</label>
      <input
        type="number"
        id="price"
        name="listing[price]"
        class="form-control"
        placeholder="Enter price"
        autocomplete="off"
        required
      />
    </div>

    <!---------------------- location -------------------------->
    <div class="listing_inputs">
      <label for="location" class="form-label">Location</label>
      <input
        type="text"
        name="listing[location]"
        class="form-control"
        maxlength="50"
        id="location"
        placeholder="Enter location"
        autocomplete="off"
        required
      />
    </div>

    <!---------------------- country -------------------------->
    <div class="listing_inputs">
      <label for="country" class="form-label">Country</label>
      <input
        type="text"
        id="country"
        maxlength="50"
        name="listing[country]"
        class="form-control"
        placeholder="Enter country"
        autocomplete="off"
        required
      />
    </div>
    <!---------------------- button -------------------------->
    <button>Add listing</button>
  </form>
</div>
