.edit_review_form {
    min-height: 100vh;
    max-width: 600px;
    margin: 1rem auto;
}

.edit_review_form form {
    width: 100%;
}


.edit_review_form form label {
    font-size: 1.5rem;
}

.edit_review_form form input , 
.edit_review_form form textarea {
    padding: 1rem;
    font-size: 1.5rem;
}

.review_editing_div {
    margin-bottom: 2rem;
}

.review_editing_div button {
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
}


/************************** responsive css layout ********************************/
@media(max-width:800px) {
    .edit_review_form {
        max-width: 500px;
    }
}

@media(max-width:550px) {
    .edit_review_form {
        max-width: 300px;
    }

    .edit_review_form form label {
        font-size: 1.25rem;
    }
    
    .edit_review_form form input , 
    .edit_review_form form textarea,
    .review_editing_div button  {
        font-size: 1rem;
    }
}