.flash_message_div {
    font-size: 1.5rem;
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flash_message_div p {
    margin: 0;
}


/***************************** responsive css layout *******************************/
@media(max-width : 650px) {
    .flash_message_div {
        max-width: 300px;
        word-wrap: break-word;
        word-break: break-all;
    }
}