.footer {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.footer a {
    color: #fff;
    font-size: 1.5rem;
}


/***************************** responsive layout css *****************************/
@media(max-width : 550px) {
    .footer {
        flex-direction: column;
    }
}