.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem !important;
  background-color: steelblue;
}

.navbar_div_one {
  flex-basis: 20%;
  display: flex;
  justify-content: space-between;
}

.navbar_search_div {
  flex-basis: 40%;
}

.navbar_search_div form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_div_two {
  flex-basis: 20%;
  display: flex;
  justify-content: space-evenly;
}

.navbar a {
  font-size: 1.5rem;
  color: #fff;
}
