.signup_form_div {
    min-height: 100vh;
    max-width: 600px;
    margin: 2rem auto;
}

.signup_form_div form {
    width: 100%;
}

.signup_particular_div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.signup_particular_div label {
    font-size: 1.5rem;
}

.signup_particular_div input {
    padding: 1rem;
    font-size: 1.25rem;
}

.signup_form_div button {
    width: 100%;
    font-size: 2rem;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #fff;
    background-color: steelblue;
    padding: 1rem;
}